langchain
langchain-core
langchain-community
pymupdf
pypdf
unstructured
openpyxl
msoffcrypto-tool
text_splitter
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain-ollama
langgraph